/* Подключение шрифтов */
@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.woff2") format("woff2");
  font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.woff2") format("woff2");
  font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2");
  font-display: swap;
	font-weight: 700;
	font-style: normal;
}

/* База */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0 ;
  list-style: none;
}

/* Общие */
body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background-color: #f1f1f1;
}

.container {
  margin: 0 auto;
  padding: 35px 0;
  width: 1170px;
}

.btn {
  padding: 12px 19px;
  border: 1px solid #c93;
  border-radius: 10px;
  color: #c93;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
}

.arrow-global {
  background-image: url(../img/Arrow.svg);
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: right center;
}

/* header */
.upper-floor {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.upper-floor__top {
  display: flex;
  align-items: center;
}

.upper-floor__link {
  margin-right: 40px;
  font-size: 0;
}

.phone-link {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

.acc-link {
  padding-left: 29px;
  font-size: 16px;
  font-weight: 400;
  color: #c93;
  background-image: url(../img/Arrow-header.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.upper-floor__down {
  padding: 14px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  border-radius: 15px;
  background-color: #fff;
}

.upper-floor__list {
  display: flex;
  gap: 45px;
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

.upper-floor__clickers {
  display: flex;
  gap: 40px;
}

/* main */

/* Hide h1-title */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* specials */
.unit__title-h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
  color: #333;
  text-indent: 40px;
}

.unit-specials__wrapper {
  display: flex;
  gap: 24px;
}

.unit-specials__card-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.unit-specials__card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 108px 40px 45px;
  min-width: 573px;
  min-height: 258px;
  border-radius: 15px;
  background-color: darkgrey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.unit-specials__card--bg1 {
  background-image: url(../img/bg1-unit-specials.png);
}

.unit-specials__card--bg2 {
  background-image: url(../img/bg2-unit-specials.png);
}

.unit-specials__card--bg3 {
  background-image: url(../img/bg3-unit-specials.png);
}

.unit-specials__card-title-h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
}

.unit-specials__card-price {
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  color: #fff;
  opacity: 0.8;
}

.unit-specials__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  color: #f0bf5f;

}

.unit-specials__details {
  display: inline-flex;
  padding-right: 1em;
}

.unit-specials__card-title-h3--size {
  margin-bottom: 31px;
  font-size: 60px;
}

.unit-specials__card-price--size {
  margin-bottom: 31px;
  font-size: 30px;
}

/* about */
.unit-about__descr {
  max-width: 890px;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

/* service */
.unit-service {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 24px;
}

.unit-service__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 26px 126px 35px 45px;
  min-width: 573px;
  min-height: 330px;
  border-radius: 15px;
  background-color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
}

.unit-service__card--bg1 {
  background-image: url(../img/service-bg1.png);
}

.unit-service__card--bg2 {
  background-image: url(../img/service-bg2.png);
}

.unit-service__card--bg3 {
  background-image: url(../img/service-bg3.png);
}

.unit-service__card--bg4 {
  background-image: url(../img/service-bg4.png);
}

.unit-service__details {
  /* display: inline-flex; */
  width: fit-content;
  padding-right: 1em;
}

.unit-service__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #c93;
  margin: 0;
}

.unit-service__descr {
  margin: 0;
  max-width: 400px;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}
